body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
}
.navbar {
    background-color: #6897bb;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 10px; /* Add some padding to the logo */
}
.logo-img {
    max-height: 40px;
}
.navbar-links {
    list-style: none;
    display: flex;
}
.navbar-links li {
    margin-right: 50px;
}
.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #f8f9fa;
}
/* drop-down menu */
navbar a:hover, .dropdown:hover .dropbtn {
            background-color: #ddd;
            color: black;
        }

        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a, .dropdown-content a {
            float: none;
            display: block;
            text-align: left;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
.content-container {
    text-align: center; /* Center-align the content */
    margin-top: 50px; /* Optional: Add top margin for better spacing */
}

h1, em {
    margin-bottom: 20px; /* Optional: Add bottom margin for better spacing between elements */
}


/* css for gender distribution bar chart */
.chart-container {
    width: 300px;
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden; /* Ensure that the borders are applied correctly */

}

.bar-chart {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bar {
    flex: 1;
    text-align: center;
    color: mediumpurple;
    background-color: #2ecc71;
    padding: 10px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Assign specific colors based on gender */
.bar[data-gender="M"] {
    background-color: #3498db; /* Blue for Male */
}

.bar[data-gender="F"] {
    background-color: #e74c3c; /* Red for Female */
}

.bar[data-gender="O"] {
    background-color: #2ecc71; /* Green for Other */
}



/* css for specialization sought after the most pie chart */

.pie-box {
    width: 400px;
    height: 300px;
    margin: 20px 0;
    border: 1px solid gainsboro;
    border-radius: 5px;
    overflow: hidden; /* Ensure that the borders are applied correctly */
    background-color: #dcdcdc;
}

.pie-chart {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background-color: olivedrab;
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    background-color: indianred;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.legend {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.legend-item {
    width : 180px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
}

/* Assigning specific colors based on specialization */

.legend-item[data-specialization="COUPLES"] .legend-color {
    background-color: #3498db; /* Blue for Couples */
}
.legend-item[data-specialization="TRAUMA"] .legend-color {
    background-color: #e74c3c; /* Red for Trauma */
}

.legend-item[data-specialization="DEPRESSION"] .legend-color {
    background-color: #9b59b6; /* Purple for Depression */
}

.legend-item[data-specialization="NUTRITIONAL"] .legend-color {
    background-color: #2ecc71; /* Green for Nutritional */
}

.legend-item[data-specialization="FAMILY"] .legend-color {
    background-color: #f39c12; /* Orange for Family */
}

.legend-item[data-specialization="BEHAVIORAL"] .legend-color {
    background-color: #e67e22; /* Brown for Behavioral */
}

.legend-item[data-specialization="ADDICTION"] .legend-color {
    background-color: #34495e; /* Dark Blue for Addiction */
}

/* css for lists */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    a.btn {
        text-decoration: none;
        margin-right: 5px;
        display: inline-block;
        padding: 8px 12px;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid #337ab7;
        color: #fff;
        background-color: #337ab7;
        border-radius: 4px;
    }

    a.btn:hover {
        background-color: #23527c;
        border-color: #1e4967;
    }

    a.btn.btn-primary {
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    a.btn.btn-primary:hover {
        background-color: #31b0d5;
        border-color: #269abc;
    }

    a.btn.btn-danger {
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    a.btn.btn-danger:hover {
        background-color: #c9302c;
        border-color: #ac2925;
    }

/* css for details lists */

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

span {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #337ab7;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d9534f;
}


