{% extends "base_generic.html" %}

{% block content %}
    <h1>Appointment List</h1>
        <ul>
          {% for appointment in appointments %}
            <li>
                {% if appointment.therapist %}
                    <a href="{% url 'catalog:appointment_detail' appointment.pk %}">
                        {{ appointment.therapist.name }} - {{ appointment.date }} - {{ appointment.time }}
                    </a>
                {% else %}
                    Unassigned - {{ appointment.date }} - {{ appointment.time }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
{% endblock %}
