{% extends "base_generic.html" %}

{% block content %}
    <h1>Appointment Detail</h1>

    <p>Date: {{ appointment.date }}</p>
    <p>Time: {{ appointment.time }}</p>
    <p>Therapist: {{ appointment.therapist.name }}</p>
    <p>Patient: {{ appointment.patient.name }}</p>
    <p>Status: {{ appointment.status }}</p>

    <span style="margin-right: 10px;">
        <a href="{% url 'catalog:appointment_update' appointment.pk %}">Update</a>
    </span>

    <span>
        <a href="{% url 'catalog:appointment_delete' appointment.pk %}">Delete</a>
    </span>
{% endblock %}
