{% extends "base_generic.html" %}

{% block title %}Meraki Therapy{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Meraki Therapy</h1>
        <em>Mental health with Love & Care</em>
   
        <h2>Meet Our Team</h2>

        <h2>Therapists</h2>
        <ul>
            {% for therapist in therapists %}
                <li>{{ therapist.name }} - {{ therapist.specialization }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'catalog:therapist_list' %}">View our Therapists</a>

        {% if user.is_authenticated %}
            {% if user.is_patient %}
                <h2>Your Appointments</h2>
                <ul>
                    {% for appointment in user.patient.appointments.all %}
                        <li>{{ appointment.date }} - Therapist: {{ appointment.therapist.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            {% if user.is_therapist %}
                <h2>Your Patients</h2>
                <ul>
                    {% for patient in user.therapist.patient_set.all %}
                        <li>{{ patient.name }} - {{ patient.contact_number }}</li>
                    {% endfor %}
                </ul>

                <h2>Your Appointments</h2>
                <ul>
                    {% for appointment in user.therapist.appointments.all %}
                        <li>{{ appointment.date }} - Patient: {{ appointment.patient.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        <h2>Upcoming Events</h2>
        <p>
            Stay tuned for upcoming events and workshops to enhance your mental health and well-being.
        </p>
     </div>
{% endblock %}
