{% extends "base_generic.html" %}

{% block content %}
                    <h1>Welcome to your Dashboard</h1>
     
        <p>Number of Appointments: {{ num_appointments }}</p>
        <p>Number of Patients: {{ num_patients }}</p>
    <br></br>   
    
    <!---Gender distribution graphical presentation-->
    
    <h2>Gender Distribution</h2>
    <div class="chart-box ">
        <div class="bar-chart">
            {% for entry in gender_distribution %}
                <div class="bar" style="height: {{ entry.percent }}%; background-color: {{ entry.color }};">
                     {{ entry.gender }} ({{ entry.count }})
                </div>
            {% endfor %}
        </div>
    </div>

    
    <!---Most Chosen specialization numerical presentation-->
    <h2>Most Chosen Specialization</h2>
<div class="pie-box">
    <div class="pie-chart">
        <div class="slice" style="transform: rotate(0deg);">
             {{ most_chosen_specialization.specialization }} ({{ most_chosen_specialization.count }})
        </div>
    </div>
  
<div class="legend">
    <!-- Legend items for each specialization -->
    <div class="legend-item" data-specialization="COUPLES">
        <div class="legend-color" style="background-color: #3498db;"></div>
        Couples
    </div>
    <div class="legend-item" data-specialization="TRAUMA">
        <div class="legend-color" style="background-color: #e74c3c;"></div>
        Trauma
    </div>
    <div class="legend-item" data-specialization="DEPRESSION">
        <div class="legend-color" style="background-color: #9b59b6;"></div>
        Depression
    </div>
    <div class="legend-item" data-specialization="NUTRITIONAL">
        <div class="legend-color" style="background-color: #2ecc71;"></div>
        Nutritional
    </div>
    <div class="legend-item" data-specialization="FAMILY">
        <div class="legend-color" style="background-color: #f39c12;"></div>
        Family
    </div>
    <div class="legend-item" data-specialization="BEHAVIORAL">
        <div class="legend-color" style="background-color: #e67e22;"></div>
        Behavioral
    </div>
    <div class="legend-item" data-specialization="ADDICTION">
        <div class="legend-color" style="background-color: #34495e;"></div>
        Addiction
    </div>
</div>

</div>

    
{% endblock %}